
node_modules
packages/*/coverage/
packages/*/test
!packages/*/test/**/*.test.js
packages/beidou-docs/
.isomorphic
.stats.json

# Different from .prettierignore
examples/*/build/
examples/*/logs/
examples/*/run/
examples/*/client/
examples/*/app/views/
