example/.node-diamone-client-cache
example/debug
example/logs
examples/**/build/
lib/plugins/**/app/proxy
packages/*/test
packages/*/node_modules/
packages/*/coverage/
packages/beidou-docs/
examples/with-rax/client/
examples/with-rax/app/views/
