{
  "extends": "eslint-config-beidou",
  "env": {
    "mocha": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "impliedStrict": false,
      "modules": false
    }
  },
  "rules": {
    "new-cap": "off",
    "prefer-rest-params": "off",
    "require-yield": "off",
    "import/no-dynamic-require": "off",
    "strict": "off",
    "class-methods-use-this": "off",
    "no-debugger": "off",
    "no-console": "off"
  },
  "globals": {
    "__DEV__": true
  }
}
