{
  "extends": "eslint-config-beidou",
  "root": true,
  "rules": {
    "new-cap": "off",
    "require-yield": "off",
    "import/no-dynamic-require": "off",
    "strict": "off",
    "class-methods-use-this": "off",
    "no-console": "off"
  }
}
