# log
*.log

# temp files
*.lerna_backup
*.da
packages/*/test/fixtures/**/run/
packages/*/test/fixtures/**/debug/
packages/*/test/fixtures/**/logs/
examples/*/run
examples/*/debug
examples/*/logs

# coverage
coverage/

# project organization files of IED
.idea
.vscode

# system config
.DS_Store

# Dependency directories
node_modules

# build files
examples/**/build
*.stats.json
**/.isomorphic/
